<% content_for(:page_title) { "Rails Example: Shop" } %>

<section id="shop">
  <h2>Going skiing?</h2>
  <p>Stock up here.</p>
  <%= image_tag("skis.jpg", class: "product-img") %>
  <hr/>

  <%= render "shared/shopping_basket" %>

  <hr/>
  <div class="products">
    <p class="shop-item">
      <%= link_to "#{@products[:blue_skis][:title]}<br/>#{@products[:blue_skis][:price]}".html_safe, shop_blue_skis_path %>
      <%= button_to "Add to basket", shop_all_products_path, remote:true, method: :get %>
    </p>
    <p class="shop-item">
      <%= link_to "#{@products[:green_skis][:title]}<br/>#{@products[:green_skis][:price]}".html_safe, shop_green_skis_path %>
      <%= button_to "Add to basket", shop_all_products_path, remote:true, method: :get %>
    </p>
    <p class="shop-item">
      <%= link_to "#{@products[:brown_skis][:title]}<br/>#{@products[:brown_skis][:price]}".html_safe, shop_brown_skis_path %>
      <%= button_to "Add to basket", shop_all_products_path, remote:true, method: :get %>
    </p>
    <p class="shop-item">
      <%= link_to "#{@products[:white_poles][:title]}<br/>#{@products[:white_poles][:price]}".html_safe, shop_white_poles_path %>
      <%= button_to "Add to basket", shop_all_products_path, remote:true, method: :get %>
    </p>
  </div>
</section>
