<% content_for(:page_title) { "Rails Example: Shop" } %>

<section id="shop">
  <h2>Going skiing?</h2>
  <p>Stock up here.</p>
  <hr>

  <%= render "shared/shopping_basket" %>

  <hr>
  <div class="products">
    <div class="items">
      <% @products.map do |item, details| %>
        <span class="shop-item <%= item %>">
          <%= link_to "#{details["title"]}<br/>#{details["display_price"]}".html_safe,
            product_path(item)
          %>
          <%= render partial: "shared/add_to_basket",
            locals: { product: details }
          %>
        </span>
      <% end %>
    </div>

  <div class="product-img">
    <%= image_tag("skis.jpg") %>
  </div>
</section>
