<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Rails Example" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag params[:controller], 'data-turbolinks-track': 'reload' %>

    <script async=1>
      (function (p, l, o, w, i, n, g) {
        if (!p[i]) {
          p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
          p.GlobalSnowplowNamespace.push(i);
          p[i] = function () {
            (p[i].q = p[i].q || []).push(arguments);
          };
          p[i].q = p[i].q || [];
          n = l.createElement(o);
          g = l.getElementsByTagName(o)[0];
          n.async = 1;
          n.src = w;
          g.parentNode.insertBefore(n, g);
        }
      })(window, document, "script", "<%= root_url + 'snowplow/sp.js' %>", "snowplow");

      snowplow('newTracker', 'sp', '127.0.0.1:9090', {
        appId: 'ruby-example',
        cookieSecure: false,
        cookieSameSite: 'Lax'
      });

      snowplow('enableActivityTracking', {
        minimumVisitLength: 10,
        heartbeatDelay: 10
      });
      snowplow('trackPageView');
    </script>

  </head>

  <body>
    <%= csrf_meta_tags %>
    <%= render "shared/navbar" %>
    <main class="container">
      <%= yield %>
    </main>
  </body>

</html>
